@charset "utf-8";

/*
-----------------------------------------------*/

.category li {
    float: left;
    text-align: center;
    width: 156px;
    height: 60px;
    position: relative;
    left: 200px;
}

.category h1 {
    margin-top: 15px;
    font-weight: bolder;
    font-size: 18px;
}

.category .cate {
    font-color: #6f6f6f;
    font-size: 11px;
}

.category a:hover>h1 {
    color: white;
}

.category a:hover>span {
    color: white;
}

.category li:hover {
    color: #fff;
    background-color: #ba000c;
}

/** float 마감제 */
.clear:after {
    content: '';
    display: block;
    float: none;
    clear: both;
}