@charset "utf-8";

/*
-----------------------------------------------*/

.membership {
    position: relative;
    left: 200px;
    bottom: 470px;
    letter-spacing: 25px;
}

.news {
    position: relative;
    left: 200px;
    bottom: 450px;
}

.text2 {
    font-size: 12px;
    color: #6f6f6f;
    margin-top: 5px;
    line-height: 18px;
}

.text2 a {
    font-size: 12px;
    color: #6f6f6f;
    line-height: 22px;
}

.text3 {
    color: #6f6f6f;
    font-size: 12px;
    position: relative;
    right: 3px;
    bottom: 2px;
}

.news2 {
    position: relative;
    left: 240px;
    bottom: 96px;
}

.news3 {
    position: relative;
    left: 500px;
    bottom: 209px;
}

.news4 {
    position: relative;
    left: 680px;
    bottom: 273px;
}

.date {
    font-size: 12px;
    color: #6f6f6f;
    line-height: 22px;
    position: relative;
    bottom: 2px;
}

.all_icon {
    position: relative;
    left: 940px;
    bottom: 800px;
    width: 61px;
    height: 77px;
}

.icon2 {
    position: relative;
    left: 70px;
    bottom: 60px;
    width: 80px;
    height: 80px;
    text-align: center;
    border-left: 1px dotted #e5e5e5;
    border-right: 1px dotted #e5e5e5;
    padding: 0 2px 0 2px;
}

.icon1 {
    text-align: center;

}

.icon3 {
    position: relative;
    left: 155px;
    bottom: 140px;
    width: 66px;
    height: 81px;
    text-align: center;
    padding-left: 5px;
}