@charset "utf-8";

/*
-----------------------------------------------*/

.content {
    display: inline-block;
    position: relative;
    left: 200px;
}

.con1 {
    width: 225px;
    height: 240px;
    position: relative;
    top: 30px;
    background-color: #faf9f7;
    padding-top: 30px;
}

.text1 {
    margin-left: 20px;
}

.con2 {
    position: relative;
    left: 245px;
    bottom: 210px;
}

.con3 a {
    display: inline-block;
    position: relative;
    left: 245px;
    bottom: 244px;
    text-align: center;
}

.con3 li {
    width: 98px;
    height: 126px;
    padding: 0 20px 0 20px;
    margin-top: 70px;
    border-right: 1px dotted #e5e5e5;
}

.con3 img {
    width: 86px;
    height: 79.84px;
}

.con_text {
    color: #303030;
    font-size: 11px;
}


.con4 {
    position: relative;
    left: 720px;
    bottom: 490px;
    background-color: #faf9f7;
    padding-top: 30px;
    width: 240px;
    height: 245px;
}