@charset "utf-8";

/*
-----------------------------------------------*/

/** 전체 공통 영역 지정 */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.wrap {
    width: 1320px;
    height: 1656px;
}

.header {
    width: 1349px;
    height: 148px;
    border-bottom: 2px solid #bc000c;
}

.headerinner {
    width: 940px;
    height: 149px;
    margin: 0 213px 0 213px;

}

.headerinner>h1 {
    width: 133px;
    height: 79px;
    padding: 17px 0 0;
    margin: 0 auto 0;
}

.left {
    position: absolute;
    top: 21px;
    width: 273px;
    height: 76px;
}

.right {
    position: absolute;
    top: 17px;
    right: 180px;
    width: 275px;
    height: 22px;
}

.right ul {
    display: block;
}

.left li {
    float: left;
    margin-right: 12px;
}

.right li {
    float: left;
    margin-right: 12px;
    margin-top: 3px;
}

.category {
    width: 940px;
    height: 60px;
    margin-top: 10px;

}

.cate_name {
    font-size: 18px;
    font-weight: bolder;
    margin-top: 17px;
    margin-bottom: 3px;
}

.name {
    font-size: 12px;
    color: #000;

}

.category li {
    float: left;
    text-align: center;
    vertical-align: center;
    width: 156px;
    height: 60px;
    margin-top: -32px;
}

.category a {
    width: 156px;
    height: 36px;
    padding: 17px 0 0;
}

.category img {
    margin-top: 15px;
}

.category span {
    font-size: 11px;
    color: #6f6f6f;
}

.category li:hover {
    background-color: #bc000c;
}

.category h1:hover {
    color: #fff;
}

.category span:hover {
    color: #fff;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
    float: none;
}